<nav class="container">
  <div>
    <a routerLink="/">
      <div class="nav-item">
        <div><mat-icon>home</mat-icon></div>
        <div>Dashboard</div>
      </div>
    </a>
  </div>
  <div>
    <a routerLink="/search">
      <div class="nav-item">
          <div><mat-icon>search</mat-icon></div>
        <div>Search</div>
      </div>
    </a>
  </div>
  <!-- <div>
    <a routerLink="/camera">
      <div class="nav-item">
          <div><mat-icon>camera_alt</mat-icon></div>
        <div>Camera</div>
      </div>
    </a>
  </div>
  <div>
    <a routerLink="/">
      <div class="nav-item">
          <div><mat-icon></mat-icon></div>
        <div>A</div>
      </div>
    </a>
  </div>
  <div>
    <a routerLink="/">
      <div class="nav-item">
          <div><mat-icon>face</mat-icon></div>
        <div>You</div>
      </div>
    </a>
  </div> -->
</nav>
<nav class="container-hidden"></nav>
