.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 4rem;
  height: 100%;
  background: var(--primary);
  align-items: center;
  box-shadow: 3px 0 1px -2px rgba(0,0,0,.2), 2px 0 2px 0 rgba(0,0,0,.14), 1px 0 5px 0 rgba(0,0,0,.12);
}
.container>div {
  font-size: calc(0.6 * var(--pfont-size));
  text-align: center;
  color: var(--white);
  max-width: 100%;
  min-width: 100%;
  height: 3rem;
  padding: 0.5rem 0;
}
a {
  text-decoration: none;
}
.container>div:hover{
  background: var(--primary-dk);
}
.material-icons {
  font-size: var(--h3font-size);
  margin: auto;
  display: block;
  margin-bottom:0.5rem;
}

.container-hidden {
  height: 0rem;
  background: var(--primary);
}

@media (max-width: 768px) {
  .container {
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    height: 3rem;
    width: 100%;
  }
  .container>div {
    width: 100%;
    text-align: center;
    color: var(--white);
    min-width: 0;
    padding: 0;
    height: 100%;
  }
  .container-hidden {
    height: 3rem;
  }
  .material-icons {
    margin-bottom: 0rem;
  }
  .nav-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
}
