<nav class="container">
  <div>
    <a routerLink="/">
      <div class="nav-item">
        <div><mat-icon>home</mat-icon></div>
        <div>Home</div>
      </div>
    </a>
  </div>
  <div>
    <a routerLink="/dashboard">
      <div class="nav-item">
        <div><mat-icon>dashboard</mat-icon></div>
        <div>Dashboard</div>
      </div>
    </a>
  </div>
  <div>
    <a routerLink="/search">
      <div class="nav-item">
        <div><mat-icon>search</mat-icon></div>
        <div>Search</div>
      </div>
    </a>
  </div>
  <div>
    <a routerLink="/help">
      <div class="nav-item">
        <div><mat-icon>help</mat-icon></div>
        <div>Help</div>
      </div>
    </a>
  </div>
  <!-- <div>
    <a routerLink="/">
      <div class="nav-item">
          <div><mat-icon>face</mat-icon></div>
        <div>You</div>
      </div>
    </a>
  </div> -->
</nav>
<nav class="container-hidden"></nav>
