<mat-card class="mat-elevation-z2">
  <mat-card-header>
    <div mat-card-avatar class="header-image" [ngStyle]="userImage"></div>
    <mat-card-title>{{ user.firstname }}</mat-card-title>
    <mat-card-subtitle>
      {{ user.lastname }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <!-- <div class="float-right"> -->

    <table>
      <tr>
        <td class="bold">Age:</td>
        <td>{{ user.age }}</td>
      </tr>
      <tr>
        <td class="bold">Address:</td>
        <td>{{ user.address }}</td>
      </tr>
    </table>

    <div class="upload-image">
      <label id="#bb">
        <div
          matRipple
          class="ripple-container mat-elevation-z3"
          matRippleColor="#ffffff44"
        >
          Upload prescription
        </div>
        <input
          type="file"
          id="File"
          accept="image/*"
          (change)="onFileChange($event)"
        />
      </label>
      <div class="selected-file" *ngIf="file">
        <span class="bold">You selected: </span><span class="filename">{{ file.name }}</span>
        <!-- <img id="blah" src="#" alt="your image" /> -->
      </div>
    </div>
  </mat-card-content>
</mat-card>
