.container {
  padding: 1em var(--margin-l-r);
}

.container > * {
  display: block;
  margin-bottom: 1rem;
}

.container mat-card:last-child {
  margin-bottom: 0;
}

.material-icons {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 0.5rem;
}
.title {
  font-size: 20px;
  font-weight: 500;
}

::ng-deep .mat-tab-label {
  padding: 0 12px;
  min-width: 120px;
}

::ng-deep .ol-overlaycontainer-stopevent {
  display: none;
}

.map {
  height: 300px;
  width: 100%;
}
