<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image" [ngStyle]="userImage"></div>
    <mat-card-title>{{ post.user.firstname }} {{ post.user.lastname }}</mat-card-title>
    <mat-card-subtitle>
      {{post.time}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ post.text }}
    </p>
    <div class="right" (click)="toggleComment()">
      <mat-icon>chat</mat-icon
      ><span class="comment-num">{{ post.comment.length }}</span>
    </div>
  </mat-card-content>
  <mat-card-footer *ngIf="canComment">
    <div class="input-comment">
      <textarea
        [(ngModel)]="writeComment"
        class="write-comment"
        placeholder="Add comment..."
      ></textarea>
      <button type="submit" class="submit" (click)="onSubmit()">Comment</button>
    </div>
    <mat-card *ngFor="let comment of post.comment" class="comments">
      <mat-card-header>
        <div mat-card-avatar class="header-image" [ngStyle]="userImage"></div>
        <mat-card-title>{{ comment.user.firstname }} {{ comment.user.lastname }}</mat-card-title>
        <mat-card-subtitle>
          {{comment.time}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ comment.text }}
        </p>
      </mat-card-content>
    </mat-card>
  </mat-card-footer>
</mat-card>
